.nav-item {
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    display: flex;
}
.navbar {
    margin: 1%;
    display: flex;
    justify-content: center;
}
.nav-link {
    color: #97AABD;
    font-family: 'Merriweather', serif;
}
