.card {
    width: 18rem !important;
}
.seeIt-Container {
    margin: 1.5rem;
}
.seeIt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-img-top {
    height: 30vw;
    width: 100%;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}