.card {
    width: 18rem !important;
    background-color: #644e5b;
    margin: 1%;
}
.seeIt-Container {
    margin: 1.5rem;
}
.seeIt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-img-top {
    height: 30vw;
    width: 100%;
}
/* .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #97aabd;
    height: 7rem;
} */
.card-body {
    /* background-color: #CAFAFE; */
    /* background-color: #C2b9b0 */
    background-color: #84ceeb;
}
.fa-plus-circle{
    font-size: 3rem;
    widows: 20px;;
    color: #080F5B;
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
}
.fa-plus-circle:hover {
    opacity: 0.5;
    cursor: pointer;
}
:root, .container-div{
    /* background-color: #CAFAFE; */
    /* background-color: #2e1114 */
    /* background-color: #0b0c10 */
    /* background-color: #e3afbc */
    /* background-color: #eae7dc; */
    background-color: #5680e9;
}
.details-link {
    color: #080F5B;
}
.seeitform {
    /* border: 1px solid black; */
    margin: 1%;
    width: 50rem;
    display: flex;
    flex-direction:column;
    align-content: center !important;
    justify-content: center !important;
    align-self: center !important;
    justify-self: center !important;
    justify-items: center !important;
}
.container-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form-control {
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin: 1%;
    height: 3rem;
}
.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* #root {
    background-color: #644e5b;
} */
.detial-buttons {
    display: flex;
    flex-direction: row;
}
.seeit-buttons {
    display: flex;
}
.seenit-btn-attempt {
    display: flex;
    flex-direction: row;
    /* margin: 10px 0 0; */
    /* padding: 5px */
}
p {
    margin: 0.5%;
}
label{
    font-size: 1rem;
    font-weight: bold;
}
.btn-primary {
    font-weight: bold;
}
.details-link {
    margin: 10px;
}
/* attempt */

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.myButton:hover {
	background-color:#1e62d0;
}
.myButton:active {
	position:relative;
	top:1px;
}
.card-text {
    font-size: 1.3rem;
    font-family: 'Merriweather', serif;
    color: black;
}
.seeit-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #97aabd;
    height: 8rem;
    padding: 2%;

}
.logo-img {
    height: 6rem !important;
    width: 6rem !important;
    margin: -20px;
}
.logo-attempt2 {
    display: flex;
    justify-content: center !important;
}
.logo-attempt2 :hover {
    cursor: pointer;
    opacity: .5;
}
