.card {
    width: 18rem !important;
    background-color: #644e5b
}
.seeIt-Container {
    margin: 1.5rem;
}
.seeIt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-img-top {
    height: 30vw;
    width: 100%;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #97aabd;
}
.fa-plus-circle{
    font-size: 3rem;
    widows: 20px;;
    color: #080F5B;
    display: flex;
    justify-content: center;
}
.fa-plus-circle:hover {
    opacity: 0.5;
    cursor: pointer;
}
:root, .container-div{
    background-color: #644e5b;
}
.details-link {
    color: #080F5B
}